.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 10px;
}

.modal_type_preview {
  /* align-self: center; */
  padding: 0 16px;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  box-sizing: border-box;
  position: relative;
  padding: 32px 50px;
  display: flex;
  align-self: center;
  flex-direction: column;
  max-width: 730px;
  width: 100%;
  /* height: fit-content; */
  border-radius: 8px;
  background-color: #fff;
}

.modal__container_type_delete {
  font-size: 20px;
  text-align: center;
  align-items: center;
  max-width: 630px;
  max-height: 172px;
  /* padding: 32px 20px; */
}

.delete-modal__button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal__post-container {
  position: relative;
  align-self: center;
  /* border: none; */
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  padding: 4px 8px;
  max-width: fit-content;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(33, 33, 33, 1);
}

.modal__title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  max-width: 630px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 32px 0 0px;
  font-weight: 500;
  font-size: 16px;
  max-width: 630px;
  opacity: 0.7;
  line-height: 110%;
  display: block;
}

.modal__input {
  box-sizing: border-box;
  margin-top: 8px;
  padding: 16px 12px;
  cursor: pointer;
  border-radius: 8px;
  max-width: 630px;
  width: 100%;
  border-color: rgba(33, 33, 33, 0.4);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
  border-width: 1px;
  border-style: solid;
  /* display: flex;
  align-content: center;
  justify-content: center; */
}

.modal__input__type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input::placeholder {
  opacity: 0.6;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__error {
  display: block;
  color: rgba(255, 0, 0, 1);
  padding-top: 8px;
}

.modal__close-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  position: absolute;
  top: 32px;
  right: 50px;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 32px;
  background-color: #212121;
  border: none;
  color: #fcf5e5;
  width: 156px;
  height: 52px;
  gap: 8px;
  border-radius: 8px;
}

.modal__save-btn_type_diabled {
  opacity: 0.5;
}

.modal__save-btn_type_delete {
  background-color: rgba(255, 101, 101, 1);
  color: rgba(33, 33, 33, 1);
  margin: 0;
}

.modal__save-btn_type_cancel {
  margin: 0;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 1);
  background-color: #ffffff;
  color: rgba(33, 33, 33, 1);
}

.modal__save-btn:hover {
  opacity: 0.8;
}

/* Responsive styles */

@media screen and (max-width: 627px) {
  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal_image {
    max-width: unset;
  }
}

@media screen and (max-width: 480px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__container {
    max-width: 300px;
    padding: 22px 12px 12px;
  }

  .modal__container_type_delete {
    width: 300px;
    height: 208px;
    padding: 20px 12px 12px;
  }

  /* .delete-modal__button-group {
    gap: 12px;
  } */

  .modal__input {
    max-width: 276px;
    font-size: 16px;
  }

  .modal__save-btn {
    width: 100%;
    margin-top: 24px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    font-size: 16px;
  }

  /* .modal__close-btn_preview {
    top: -48px;
    right: 0;
  } */
}
